//Custom Colors
$main: #2437ad;
$sec: #a6e51c;
$terinary: #f117b4;

@import "../../node_modules//bootstrap/scss/functions";
@import "../../node_modules//bootstrap/scss/variables";

$main-text-emphasis:      shade-color($main, 60%);
$sec-text-emphasis:   shade-color($sec, 60%);
$terinary-text-emphasis:    shade-color($terinary, 60%);


// $main-bg-subtle:     tint-color($main, 80%) !default;
$sec-bg-subtle:     tint-color($sec, 80%) !default;
$terinary-bg-subtle:       tint-color($terinary, 80%) !default;

$main-border-subtle:   tint-color($main, 60%) !default;
$sec-border-subtle: tint-color($sec, 60%) !default;
$terinary-border-subtle:   tint-color($terinary, 60%) !default;

//Custom theme
$custom-theme-colors: (
    "main": $main,
    "sec": $sec,
    "terinary": $terinary
);

//adding my themes to bootstrap
$theme-colors: map-merge($custom-theme-colors, $theme-colors);
$table-variants: map-merge($custom-theme-colors, $table-variants);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//color-variant classes for btn
@each $color, $value in $theme-colors {
    .btn-#{$color} {
      @if $color == "light" {
        @include button-variant(
          $value,
          $value,
          $hover-background: shade-color($value, $btn-hover-bg-shade-amount),
          $hover-border: shade-color($value, $btn-hover-border-shade-amount),
          $active-background: shade-color($value, $btn-active-bg-shade-amount),
          $active-border: shade-color($value, $btn-active-border-shade-amount)
        );
      } @else if $color == "dark" {
        @include button-variant(
          $value,
          $value,
          $hover-background: tint-color($value, $btn-hover-bg-tint-amount),
          $hover-border: tint-color($value, $btn-hover-border-tint-amount),
          $active-background: tint-color($value, $btn-active-bg-tint-amount),
          $active-border: tint-color($value, $btn-active-border-tint-amount)
        );
      } @else {
        --#{$prefix}btn-hover-color: $value;
        --#{$prefix}btn-hover-bg: #ffffff;
      }
    }
  }
  .image-crousel {
    height: 600px;
    width: 100%;
  }
  // h2 {
  //   color:  $terinary-bg-subtle;
  // }